@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --section-pad: 12px;

    /* left sidebar */
    --left-sidebar-width: 300px;
    --left-sidebar-width-collapsed: 80px;

    /* header */
    --header-height: 60px;
}

body {
    font-family: "Anuphan", "Inter", sans-serif;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}