@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anuphan", "Inter", sans-serif;
    /* line-height: 1.2; */
}

:root {
    --color-primary: #FDE9FF;
    --section-pad: 12px;
    --btn-radius: 5px;

    /* left sidebar */
    --left-sidebar-width: 300px;
    --left-sidebar-width-collapsed: 80px;

    /* header */
    --header-height: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

.in-line-text {
    white-space: nowrap;
    overflow: hidden;
}

.tag {
    font-size: 12px;
    color: #AEAEAE;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.between {
    justify-content: space-between;
    align-items: center;
}

.gap-3 {
    gap: 3px;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}