.toolbar-action-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 0 var(--section-pad);
}

.toolbar.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--action-padding);
    background-color: var(--color-primary);
    border-radius: var(--btn-radius);
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.toolbar.action-btn img {
    width: var(--icon-size);
}

.toolbar.action-btn:hover {
    background-color: var(--color-primary-hover);
}