.main-content {
    /* padding: var(--section-pad); */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* gap: var(--section-pad); */
}

.content {
    padding: var(--section-pad);
    min-height: calc(100vh - var(--header-height) - var(--section-pad)*4 - 20px);
    border-radius: 15px 0 0 0;
}
