.main-content {
    /* padding: var(--section-pad); */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* gap: var(--section-pad); */
}

.content {
    width: 100%;
    padding: var(--section-pad);
    padding-top: 0;
    min-height: calc(100vh - var(--header-height) - var(--section-pad)*4 - 20px);
    display: flex;
    flex-direction: row;
}

.file-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    overflow: auto;
    position: relative;
}

