.left-sidebar {
    box-sizing: border-box;
    z-index: 999;
    padding: var(--section-pad);
    min-width: var(--left-sidebar-width);
    /* min-width: var(--left-sidebar-width-collapsed); */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.04);
}

.left-sidebar-header {
    padding: var(--section-pad);
    display: flex;
    justify-content: center;
}

.left-sidebar-header a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--section-pad);
}

.left-sidebar-header .app-icon {
    width: 38px;
}

/* .left-sidebar-header .app-name {
    display: none;
} */